<app-header-admin pageTitle="Kids Town" imageUrl="dashboard" helpType="homepage"></app-header-admin>
<aq-home-page></aq-home-page>
<!-- <mat-tab-group class="tab-group">
    <mat-tab label="Manage">
        
    </mat-tab>
    <mat-tab label="AboutUs">
       <app-about-tab></app-about-tab>
    </mat-tab>
    <mat-tab label="FAQ">

    </mat-tab>

    <mat-tab label="Terms">
        <mat-card>
            <mat-card-content>
                <app-team></app-team>                    
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group> -->