<div style="align-items: center;">
<mat-card style="width: 10%; background-color: rgba(255, 255, 255, 0.699); margin: 10pt; float: left;"> 
    <mat-card-title color="primary" style="padding: 0px; margin: 0px;">Staff</mat-card-title>
    <mat-icon>assignment_ind</mat-icon>
    <mat-card-content>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </mat-card-content>
</mat-card>

<mat-card style="width: 10%; background-color: rgba(49, 192, 80, 0.699); margin: 10pt; float: left;">
    <mat-card-title>Teachers</mat-card-title>
    <mat-icon>account_circle</mat-icon>
    <mat-card-content>number of Teacher</mat-card-content>
</mat-card>

<mat-card style="width: 10%; background-color: rgba(49, 116, 192, 0.699); margin: 10pt; float: left;">
    <mat-card-title>Buss</mat-card-title>
    <mat-icon>directions_bus</mat-icon>
    <mat-card-content>number of Bus</mat-card-content>
</mat-card>

<mat-card style="width: 10%; background-color: rgba(218, 214, 23, 0.74); margin: 10pt; float: left;">
    <mat-card-title>Student</mat-card-title>
    <mat-icon>school</mat-icon>
    <mat-card-content>number of Student</mat-card-content>
</mat-card>
</div>
